import os

from autoloaders import Git

beard_paths = [
    "beards/",
    # Beards can come from anywhere!
    # os.path.expanduser("~/beards/"),
    # Even from git!
    #Git("https://github.com/nasfarley88/pdfpreviewbeard.git"),
]

# Beards can be specified as "all" which will attempt to load everything found
# in beard_paths or can be specified as a list of strings of which beards to
# load
# beards = "all"
beards = [
    "postcats",
#    "pdfpreviewbeard", # From git (above)
]

db_url = "sqlite:///skybeard-2.db"

#put yourself, and anyone else you wish to, as an admin
admins = [
        #('name', telgram_id),
        ]

#web server config
host = '0.0.0.0'
port = 8000

__doc__ = """This is sample documentation. Please update in your config.py!

Current plugins enabled: {}""".format(beards)

