import os

beard_paths = [
    "beards/",
    # Beards can come from anywhere!
    # os.path.expanduser("~/beards/"),
]

# Beards can be specified as "all" which will attempt to load everything found
# in beard_paths or can be specified as a list of strings of which beards to
# load
beards = "all"
# beards = [
#     "postcats",
# ]


__doc__ = """This is sample documentation. Please update in your config.py!

Current plugins enabled: {}""".format(beards)