#add steam games to access news and updates
game_ids = {
        'dota': 570,
        'overwatch': 0
        }

#games to check automatically for updates
check_ud = ['dota']        

#dev key for steam API. Request one here:
#http://steamcommunity.com/dev/apikey
steam_api_key = ''        
